<h1>Heroes list</h1>
<hr />

<div class="row">
  <div class="col text-end">
    <button routerLink="/hero/new" type="button" class="btn btn-primary">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add
    </button>
  </div>
</div>

<table *ngIf="heroes.length > 0" class="table table-dark mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Power</th>
      <th scope="col">Alive?</th>
      <th scope="col">Tools</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let hero of heroes; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ hero.name }}</td>
      <td>{{ hero.power }}</td>
      <td>
        <label *ngIf="hero.alive" class="badge bg-success">Alive</label>
        <label *ngIf="!hero.alive" class="badge bg-danger">Dead</label>
      </td>
      <td>
        <button
          [routerLink]="['/hero', hero.id]"
          type="button"
          class="btn btn-info me-2"
        >
          <i class="fas fa-pen"></i>
        </button>
        <button
          (click)="deleteHero(hero, i)"
          type="button"
          class="btn btn-danger"
        >
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="!loading && heroes.length === 0" class="alert alert-warning text-center mt-3">
  <h4>No archives!</h4>
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>

<div *ngIf="loading" class="alert alert-info text-center mt-3">
  <h4>Loading</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">Wait a moment</p>
</div>
